$min-desktop-width: 640px;

:root {
    --block-code-background: rgba(0, 0, 0, 0.05);
    --block-quote-background: rgba(0, 0, 0, 0.05);
    --code-color: #000;
    --code-font-family: "Cascadia Code", "Consolas", "Source Code Pro", monospace;
    --control-font: 14px/1 var(--control-font-family);
    --control-font-family: "Myriad Pro", "Source Sans 3 VF", "Source Sans 3", system-ui, sans-serif;
    --inline-code-background: rgba(0, 0, 0, 0.05);
    --logo-font: 24px/1 var(--control-font-family);
    --main-min-width: 480px;
    --nav-background: #666;
    --nav-link-color: #eee;
    --nav-link-hover-background: #888;
    --nav-text-color: #aaa;
    --root-background: #222;
    --sidebar-width: 240px;
    --splitter-background: rgba(18, 94, 145, 0.618);
    --text-background: #fff;
    --text-font-desktop: 16px/1.25 var(--text-font-family);
    --text-font-family: "Minion Pro", "Source Serif Variable", "Source Serif 4", "Times New Roman", serif;
    --text-font-mobile: 14px/1.5 var(--text-font-family);
    --text-link-color: #187fec;
    --text-link-visited-color: #f281a6;
    --text-max-width: 960px;
    --toc-min-height: 240px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

a:link {
    text-decoration: none;
}

article {
    box-sizing: border-box;
    max-width: var(--text-max-width);
    overflow: hidden;
    padding: 1em 2em;

    a:link {
        color: var(--text-link-color);
    }

    blockquote {
        background: var(--block-quote-background);
        padding: 0 1em;
        margin-inline: 2em;
    }

    code {
        background: var(--inline-code-background);
        color: var(--code-color);
        font-family: var(--code-font-family);
    }

    .heading-anchor {
        display: inline-block;
        left: 0.25em;
        position: relative;
        user-select: none;
        visibility: hidden;
        width: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-block: 1em;
        text-align: center;

        &:hover>.heading-anchor {
            visibility: visible;
        }
    }

    h1 {
        font-size: 1.500em;
    }

    h2 {
        font-size: 1.402em;
    }

    h3 {
        font-size: 1.310em;
    }

    h4 {
        font-size: 1.225em;
    }

    h5 {
        font-size: 1.145em;
    }

    h6 {
        font-size: 1.070em;
    }

    hr {
        border-block-end: none;
        border-block-start: 1px solid;
        border-inline-end: none;
        border-inline-start: none;
    }

    img {
        max-inline-size: 100%;
    }

    ol,
    ul {
        padding-inline-start: 2em;
    }

    pre {
        background: var(--block-code-background);
        padding: 1em;

        code {
            background: none;
        }
    }

    table {
        border-block-end: 2px solid;
        border-block-start: 2px solid;
        border-collapse: collapse;
        margin: 1em auto;
    }

    thead {
        border-block-end: 1px solid;
    }

    td,
    th {
        padding: 0 0.5em;
        text-align: start;
        vertical-align: baseline;
    }
}

body {
    margin: 0;
}

// Styles that do not apply to `print` media.

@media screen {
    :root {
        background: var(--root-background);
        font: var(--text-font-mobile);
    }

    article {
        background: var(--text-background);

        a {
            &:hover {
                text-decoration: underline;
            }

            &:visited {
                color: var(--text-link-visited-color);
            }
        }

        blockquote,
        pre {
            overflow: auto;
        }
    }

    // Navigation.

    nav {
        background: var(--nav-background);
        color: var(--nav-text-color);
        display: flex;
        font: var(--control-font);
        justify-content: space-between;
        overflow: auto;

        a {

            &:link,
            &:visited {
                color: var(--nav-link-color);
            }

            &:hover {
                background: var(--nav-link-hover-background);
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        // Logo.

        > :first-child {
            align-items: center;
            display: flex;
            font: var(--logo-font);
            padding: 0.5em;
        }

        // Links.

        > :nth-child(2) {
            display: flex;
            flex-direction: inherit;

            >li {
                display: flex;
                flex-direction: inherit;

                >a {
                    align-items: center;
                    display: flex;
                    padding: 0.25em 0.5em;
                }
            }
        }

        // Toc.

        > :nth-child(3) {
            display: none;
        }
    }

    // Viewport is wide enough.

    @media (min-width: $min-desktop-width) {
        :root {
            font: var(--text-font-desktop);
        }

        article {
            margin: 1em auto;
        }

        main {
            padding: 0 1em;
        }

        // A sidebar is presented.

        .with-sidebar {
            body {
                display: flex;
            }

            main {
                flex: 1 0;
                min-width: var(--main-min-width);
            }

            nav {
                flex-basis: var(--sidebar-width);
                flex-direction: column;
                gap: 1em;
                height: 100vh;
                position: sticky;
                top: 0;

                // Table of context.

                > :nth-child(3) {
                    display: block;
                    flex: 1;
                    overflow: auto;

                    a {
                        flex: 1;
                        padding: 0.25em 0.5em 0.25em 0;
                    }

                    summary {
                        display: flex;
                        align-items: flex-start; // Align at top if there are multiple lines of text.

                        &::before {
                            flex: 0 0 1.5em;
                            padding: 0.25em 0;
                            text-align: center;
                        }

                        &:only-child::before {
                            content: "·";
                        }

                        &:not(:only-child)::before {
                            content: "\e5cc";
                            font-family: "Material Icons";
                        }

                        &::marker,
                        &::-webkit-details-marker {
                            display: none;
                        }

                        &:hover {
                            background: var(--nav-link-hover-background);
                        }
                    }

                    details[open]>summary:not(:only-child)::before {
                        content: "\e5cf";
                    }

                    ul {
                        padding-inline-start: 1em;
                    }
                }
            }

            // Splitter.

            nav+div {
                cursor: col-resize;
                flex: 0 0 6px;
                margin-inline-end: -3px;
                margin-inline-start: -3px;
                z-index: 1;

                &:hover {
                    background: var(--splitter-background);
                }
            }
        }
    }
}

// Styles that do not apply to `screen` media.

@media print {
    :root {
        font: var(--text-font-desktop);
    }

    article {
        a:visited {
            color: var(--text-link-color);
        }
    }

    nav {
        display: none;
    }
}

@import "syntax-theme-light";
